.site-header h1 a {
  white-space: nowrap;
  color: #333;
}
a {
  text-decoration: none;
}
.collection-head.small {
  padding: 0.8rem 0;
}
.collection-head {
  padding: 1.5rem 0;
  margin-top: -20px;
  margin-bottom: 20px;
  background: url(/assets/images/octicons-bg.png) center #302f2f;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.collection-head.small .collection-title h1.collection-header {
  font-size: 30px;
}

.site-header h1 {
  float: left;
}
