.article-list {
  max-width: 800px;
}

.article-pre {
  h1 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    a {
      color: #4183c4;
      &:hover {
        color: #4183c4;
        text-decoration: underline;
      }
    }
  }
  border-bottom: solid 2px #e3e3e3;
  .info {
    color: grey;
    a {
      color: grey;
      &:hover {
        color: grey;
        text-decoration: none;
      }
    }
    .material-icons {
      font-size: 18px;
      margin-right: 4px;
    }
  }
  .excerpt {
    margin: 10px 0;
  }
}
