.footer {
  margin: 20px 0;
  color: #777;
  font-size: 14px;
  & > div {
    display: flex;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    .rss {
      color: rgba(239, 174, 47, 0.5);
      font-size: 15px;
      margin-left: 10px;
    }
  }
}
