$padding: 20px;
$side-bar-width: 200px;

a {
  text-decoration: none;
  & > :hover {
    text-decoration: none;
  }
}

body {
  font-family: Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei",
    "微软雅黑", SimSun, "宋体", Helvetica, Tahoma, Arial sans-serif;
  margin: 0px;
}

.v-center {
  display: flex;
  justify-items: center;
}

.box {
  display: flex;
  justify-content: center;
  & > div {
    max-width: 1000px;
    width: calc(100% - #{$padding * 2});
  }
  @media screen and (max-width: 600px) {
    & > div {
      max-width: 100%;
      width: calc(100% - #{$padding * 2});
    }
  }
}

.line {
  border-top: solid 2px #e3e3e3;
  padding-top: 5px;
}

* {
  box-sizing: border-box;
}

a {
  color: #4183c4;
}

.mid {
  display: flex;
  justify-content: center;
}
