.post {
  .post-description {
    color: #fff;
    padding: $padding 0;
    h1 {
      font-size: 30px;
      font-weight: 400;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .post-content {
    display: flex;
  }
  .content {
    width: calc(100% - #{$side-bar-width + 2 * $padding});
    a {
      color: #4183c4;
    }
    img {
      padding: 5px;
      // filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
      border-radius: 10px;
      max-width: 100%;
    }
    .img-desc {
      color: #666666;
      padding: 0 10px;
      text-align: center;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .content {
      width: 100%;
    }
  }

  .toc {
    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
      display: block;
      content: " ";
      height: 60px;
      margin-top: -60px;
      visibility: hidden;
    }
  }

  .side-bar {
    width: $side-bar-width;
    padding-left: $padding;
  }
  .toc-box {
    width: $side-bar-width;
    line-height: 1.5;
    &.toc-fix {
      position: fixed;
      top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .toc-box {
      display: none;
    }
  }
  .post-info {
    color: #8b8b8b;
  }
  .thank {
    margin: 10px 0;
    color: #8b8b8b;
  }
}
