.info {
  font-size: 16px;
  line-height: 18px;
  & > div {
    margin: 5px 0;
  }

  .material-icons {
    font-size: 18px;
    margin-right: 4px;
  }
  .other-info {
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin-right: 10px;
    }
  }
}
