<% if( page && page.title ) { %>

<div id="remark42"></div>

<script>
  var remark_config = {
    host: 'https://comment.cptsai.com',
    site_id: 'cptsai',
  };

  const loadDisqus = () => {
    (function (c) {
      for (var i = 0; i < c.length; i++) {
        var d = document, s = d.createElement('script');
        s.src = remark_config.host + '/web/' + c[i] + '.js';
        s.defer = true;
        (d.head || d.body).appendChild(s);
      }
    })(remark_config.components || ['embed']);
  };
  const onScroll = () => {
    const dom = document.querySelector('#remark42');
    if (window.outerHeight + window.scrollY > dom.offsetTop) {
      window.removeEventListener('scroll', onScroll);
      loadDisqus();
    }
  }
  window.addEventListener('scroll', onScroll)
</script>

<% } %>