<div class="history">
  <h4>近期修訂紀錄</h4>
  <% history.forEach(function(change){ %>
  <a class="record" href="<%- config.repo_url %>/commit/<%- change.hash %>" target="_blank">
    <span class="material-icons">
      history
    </span>
    <span><%- change.time %> - <%- change.message %></span>
  </a>
  <% }) %>
</div>