<div class="post-poll">
  <div>這篇文章有幫助到您嗎?</div>
  <div class="poll-options">
    <button value="n">沒有</button>
    <button value="y">有</button>
  </div>
</div>

<script defer src="<%- config.root %>js/post-poll.js"></script>