<div class="profile">
  <h2 class="mid">Goofy's blog</h2>
  <div>Hi, 這是一個沒有技術的工程師的部落格，會寫些技術筆記、旅遊紀錄以及大量的廢話，歡迎拍打餵食。</div>
  <div>有任何建議都可以在文章下方留言或是到 <a href="https://github.com/oscar60310/blog">Github</a>
    上開 Issue 😃</div>
</div>